<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <h1>Movie API (create deok9)</h1>
    <hr>
    <h2>API Docs(Page)</h2>
    <h3>&nbsp; : https://movie-nodejs.herokuapp.com</h3>
    <h2>User Register(Page)</h2>
    <h3>&nbsp; : https://movie-nodejs.herokuapp.com/register</h3>
    <h3>    OR </h3>
    <h3>&nbsp; : curl --location --request POST 'https://movie-nodejs.herokuapp.com/auth/create' \ </h3>
    <h3>&nbsp; &nbsp; --header 'Content-Type: application/x-www-form-urlencoded' \ </h3>
    <h3>&nbsp; &nbsp; --data-urlencode 'id={id}' \ </h3>
    <h3>&nbsp; &nbsp; --data-urlencode 'pw={pw}' \ </h3>
    <h3>&nbsp; &nbsp; --data-urlencode 'name={name}' \ </h3>
    <h3>&nbsp; &nbsp; --data-urlencode 'email={email}' </h3>
    </h3>
    <h2>User Login</h2>
    <h3>&nbsp; : curl -u {id}:{password} --request POST https://movie-nodejs.herokuapp.com/auth/login</h3>
    <h3>&nbsp; &nbsp; - return bearer token</h3>
    <br>
    <hr>
    <h2>SearchMovie (need Bearer token)</h2>
    <h3>&nbsp;&nbsp; : curl https://movie-nodejs.herokuapp.com/api/search/{title} -H 'Authorization: Bearer token'</h3>
    <br>
    <hr>
    <h2>Ranking (need Bearer token)</h2>
    <h3>&nbsp;&nbsp; : curl https://movie-nodejs.herokuapp.com/api/rank -H 'Authorization: Bearer token'</h3>
  </body>
</html>